body { background: hotpink; color: aliceblue; font-size: 20pt; font-family: 'Noto Sans', 'Dancing Script', cursive;}
<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
                                                                                    body { font-family: 'Dancing Script', cursive; }
h1 { font-size: 250%;
    font-weight: bold;
    color: white }

h2 { font-size: 150%;
    font-style: italic }
